.header {
  padding-top: 91px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header_menu-list {
  display: flex;
  gap: 30px;
  letter-spacing: normal;
  list-style: circle;
  font-size: 18px;
}

.header_menu-item_active {
  list-style: none;
}

.link_active {
  text-decoration: none;
}

.header_logo-link {
  width: 148px;
  height: 105px;
}

.header_logo {
  padding-top: 0px;
  width: 100%;
  height: 100%;
}

.address {
  max-width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}

.header .address {
  padding-right: 36px;
  justify-self: end;
}
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;

}

.cover_title {
  padding: 165px 20px 106px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.accent-span {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-right {
  text-align: right;
}

.description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 50px;
}

.description-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 20px;
}

.description-button {
  position: relative;
  justify-content: center;
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 27px;
  padding-left: 40px;
}

.lots_card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
}

.card_link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  color: #fff;
  z-index: 1;
}

.card_content {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: underline;
}

.about {
  margin: 0px 24px 181px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 100%;
}

.about_logo-image {
  width: 148px;
}

.about_title {
  margin-top: 135px;
  padding-left: 25px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  padding-left: 25px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer .address {
  justify-self: start;
  padding-left: 50px;
}

.footer_menu-list {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer_menu {
  justify-self: center;
  text-align: center;
}

.socials {
  display: flex;
  list-style: none;
  justify-self: end;
  gap: 48px;
  padding-right: 50px;
}

.socials-logo {
  width: 48px;
}